.movie-box{
    background-color:rgb(182, 229, 134);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #070709;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 75vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #002353;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    transition: all 0.6s ease-in-out;
}

.movie-box:hover{
    transform: rotate(1deg);
    width: 70vw;
    height: 390px;
}

.another-box{
    background-color:#365793;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #070709;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 90vw;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #002353;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    transition: all 0.6s ease-in-out;
}
.another-box:hover{
    /* transform: rotate(-5deg); */
    width: 85vw;
    height: 800px;
}
.another-box button {
    background-color: #002353;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #002353;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(1deg);
    transition: all 0.8s ease-in-out;
}
  
.another-box button:hover {
    background-color: #003373;
    transform: rotate(5deg);
}
  
.another-box-inside-another-box{
    background-color:rgb(125, 125, 125);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #ff4500;
    transform: rotate(0deg);
    transition: all 0.6s ease-in-out;
}

.another-box-inside-another-box:hover{
    transform: rotate(0.5deg);
    width: 45vw;
    height: 250px;
}

.register-box{
    background-color:#000000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #070709;
    border: 1px solid #ccc;
    font-size: larger;
    padding: 15px;
    margin: 15px;
    width: 40vw;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    
    color: #f40101;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease-in-out;
}

.register-box .RegisterButton{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.register-box:hover{
    width: 50vw;
    height: 300px;
}

.register-box .RegisterInput{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}
