.userFavoriteMovies {
  background-color: #6bb13c;
  padding: 20px;
  width: 450px;
  height: 400px;
  overflow-y: scroll;
}

.userFavoriteMovies__heading {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 1px solid #03f333;
}

.userFavoriteMovies__list {
  list-style-type:upper-roman;
  padding: 1px;
}

.userFavoriteMovies__item {
  font-size: 1.2em;
  margin-bottom: 10px;
}
