body{
    background-color: #2b2b2b;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    height: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}; 
