body{
    background-color: #746969;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    width: 95%;
    height: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}; 
