.userprofile {
    background-color:black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #ff4500;
    transition: all 0.3s ease-in-out;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .userprofile:hover {
    width: 60vw;
    height: 30vw;
  }
  
  
  
  input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #f50202;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  